/*FONTS-CORE*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

/*NAVBAR*/
nav{
  background: #00909a;
  height: 80px;
  width: 100%;
  z-index: 1;
  position: fixed;
}

label.logo{
  color: #f6f6f6;
  font-size: 33px;
  line-height: 80px;
  padding-left: 140px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

nav ul{
  float: right;
  margin-right: 60px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 2px;
}

nav ul li a{
  color: #f6f6f6;
  font-weight: 500;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
}

.active:hover{
  background: black;
  transition: .5s;
}

.picked{
  background: black;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

/*ADAPTIVE FORM*/
@media (max-width: 952px){
  label.logo{
    font-size: 15px;
    padding-left: 25px;
    line-height: 80px;
  }

  nav ul li a{
    font-size: 16px;
  }

}

/*ADAPTIVE FORM*/
@media (max-width: 858px){
  .checkbtn{
    display: block;
    margin-right: 40px;
  }
  
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #646473;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
  }

  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a{
    font-size: 20px;
    font-weight: bold;
  }

  a:hover,a.active{
    background: none;
    color: #3b3a3d;
  }

  #check:checked ~ ul{
    left: 0;
  }

}